    <!-- About Section -->
    <section id="empresa" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Grayscale</h2>
              <p>Procesamos las mejores cerezas <i>recolectadas manualmente</i> una a una, beneficiadas y clasificadas con técnicas especiales, pasan a torrefacción a temperatura óptima para resaltar su suavidad, aroma y sabor, cualidades que nos han dado gran prestigio en los paladares de conocedores de café.</p>
            </div>
        </div>
    </section>
