    <!-- About Section -->
    <section id="empresa" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Nuestra Empresa</h2>
              <p>Cafe del Quindio, empresa tostadora de Café, con una trayectoria de 23 años en el mercado y pionera en el desarrollo de productos con café en el Quindío, ha evolucionado para brindar la posibilidad de disfrutar del Café de Colombia en diversidad de formas.</p>

              <p>Está ubicada en la ciudad de Armenia, Quindío, corazón aromático de Colombia, donde se produce el más suave café del mundo, plantado con esmero y dedicación por agricultores y campesinos que habitan zonas montañosas con la altitud ideal para el cultivo del café.</p>
 
              <p>El Departamento del Quindío produce cerezas que son recolectadas a mano, beneficiadas y clasificadas con técnicas especiales, cualidades que han dado a la marca gran prestigio en los paladares de los conocedores de café.</p>

              <p>Contamos con un Café – Restaurante en la ciudad de Armenia y 17 tiendas de Café del Quindío, ubicadas en Manizales, Pereira, Armenia, Bogotá y Tunja, allí se vive la experiencia de un buen café en excelentes preparaciones frías y calientes, acompañadas de excelentes productos de pastelería que también producimos en Café Quindío.</p>
            </div>
        </div>
    </section>
