    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-4 col-lg-offset-0">
                    <h2>CAFÉ CONSUMO SUPERIOR</h2>
                    <p><img src="http://www.cafequindio.com.co/files/productos/ss3220150519031347.png" class="img-responsive center-block"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                    <h2>CAFÉ QUINDÍO GOURMET</h2>
                    <p><img src="http://www.cafequindio.com.co/files/productos/ss3820150519030702.png" class="img-responsive center-block"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
                </div>
            </div>
        </div>
    </section>
