    <!-- Download Section -->
    <section id="productos" class="content-section text-center">
        <div class="download-section">
            <div class="container">
              <div class="col-lg-3">
                    <h2>Suave</h2>
                    <p><img src="https://www.melitta.com/portal/pics/berechnet/f8470f35ca2b10655ce641869478f7a7.png"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
              </div>
              <div class="col-lg-3">
                    <h2>Fuerte</h2>
                    <p><img src="https://www.melitta.com/portal/pics/berechnet/f8470f35ca2b10655ce641869478f7a7.png"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
              </div>
              <div class="col-lg-3">
                    <h2>Expresso</h2>
                    <p><img src="https://www.melitta.com/portal/pics/berechnet/f8470f35ca2b10655ce641869478f7a7.png"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
              </div>
              <div class="col-lg-3">
                    <h2>Expresso</h2>
                    <p><img src="https://www.melitta.com/portal/pics/berechnet/f8470f35ca2b10655ce641869478f7a7.png"></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Comprar</a>
              </div>
            </div>
        </div>
    </section>
